

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.chats::-webkit-scrollbar {
  display: none;
}

.chats {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}


.hide-scrollbar {
  -webkit-overflow-scrolling: touch; 
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.chat-message img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}